img{
    width:100%;
  height: 100%;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.pagewrapper {
    display: flex;
    height: 100vh;
}

.section2 {
    

}

.container {
    position: relative;
    text-align: center;
    font-family: "Satisfy", cursive;
    color: rgb(232, 198, 7) ;
  }
.date{
    position: absolute;
    bottom: 100px;
    left: 150px;
    font-size: 40px;
}
.signature{
    position: absolute;
    bottom: 100px;
    right: 250px;
  font-size: 40px;
}
.visible{
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 40px;
  transform: translate(-50%, -50%);
}
.info{
    position: absolute;
    top: 57%;
    left: 50%;
    font-size: 40px;
  transform: translate(-50%, -50%);
}

@media print {
    .section2{
        display: none;
    }
    .date{
        position: absolute;
        bottom: 80px;
        left: 100px;
        font-size: 25px;
    }
    .signature{
        position: absolute;
        bottom: 80px;
        right: 220px;
      font-size: 25px;
    }
    .visible{
        position: absolute;
        top: 70%;
        left: 50%;
        font-size: 25px;
      transform: translate(-50%, -50%);
    }
    .info{
        position: absolute;
        top: 57%;
        left: 50%;
        font-size: 25px;
      transform: translate(-50%, -50%);
    }
}